body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

#excuse-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

#excuse-text {
  animation: scrollExcuses 10s linear infinite;
}

@keyframes scrollExcuses {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
